/* cardクラス  750px以下のcss */
@media screen and (max-width: 750px) {
  .name {
    font-size: 12px;
  }

  .date {
    font-size: 12px;
  }

  .category {
    font-size: 12px;
    }

  .subject {
    font-size: 12px;
    }

  .message {
    font-size: 12px;
    }
}

